@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.mLight {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.mMedium {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.mRegular {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.mSemiBold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}