// Colors

$blue-dk: #004479;
$blue-lt: #005EBC;
$black: #373737;
$gray-dk: #666666;
$gray: #AEAEAE;
$gray-md: #D2D2D2;
$gray-lt: #F3F3F3;
$green:#2FC053;

$shadow: 0 3px 6px rgba(0,0,0,.16);

$asset_img: '/iamges/min/';